@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f0f0f0;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.modal h2 {
  margin-top: 0;
}

.modal input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  padding: 0.5rem;
}

.modal button {
  display: block;
  width: 100%;
  padding: 0.5rem;
  color: white;
  border: none;
  cursor: pointer;
}

.font-playfair {
  font-family: "Playfair Display", serif;
}
